<div class="container">
    <form action="/admin" method="POST">
        <h2>Add New Sanctuary Terms:</h2>
        <div class="form-group">
            <input type="text" name="sanctuaryDesc1" placeholder="New Sanctuary Desc 1" required autofocus>
            <input type="text" name="sanctuaryDesc2" placeholder="New Sanctuary Desc 2" required autofocus>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
    </div>