<div class="container">
    <form action="/admin" method="POST">
        <h2>Add New Sanctuary Terms:</h2>
        <div class="form-group">
            <input type="text" name="sanctuaryDesc1" placeholder="Sanctuary Name (Adjective)" autofocus>
            Examples: "Giant", "Milky", "Lumine"
            <input type="text" name="sanctuaryDesc2" placeholder="Sanctuary Name (Noun)" autofocus>
            Examples: "Hill", "Hole", "Spring"
            <input type="text" name="sanctuaryDesc3" placeholder="Sanctuary Description (Verb)" autofocus>
            Examples: "caught a glimpse of a", "briefly had a vision of", "caught a whiff of"
            <input type="text" name="sanctuaryDesc4" placeholder="Sanctuary Description (Noun)" autofocus>
            Examples: "small, cute puppy", "vision of his father holding him", "pizza, but just for a second"
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
    </div>