<% include partials/header %>
<p>Welcome to Your Sanctuary!</p>
    <p><strong><%= sanctuaryDesc[sanctuaryDesc.length-1].sanctuaryDesc1 %><%= sanctuaryDesc[sanctuaryDesc.length-1].sanctuaryDesc2 %>!</strong></p>
<% include partials/footer %>