<% include partials/header %>
<p>Welcome to Your Sanctuary!</p>
    <p><strong><%= sanctuaryDesc1[sanctuaryDesc1.length-1].sanctuaryDesc1 %> <%=+" "+%> <%= sanctuaryDesc2[sanctuaryDesc2.length-1].sanctuaryDesc2 %>!</strong></p>
<% include partials/footer %>